.inputContainer,.result{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.inputContainer{
  margin-top: 12px;
}
.AppContainer{
  background-color: white;
  width: 387px;
  padding: 34px 0;
  height: 492px;
  border-radius: 10px;
  box-shadow: 5px 0px 22px;
  margin-bottom: 118px;
}
.textInput{
  margin-bottom: 20px ;
  width: 200px
}
.aggregate{
  font-size: 30px;
  color: #0DBAA3;
  margin-top: 9px;
}
.btn{
  width: 117px;
    height: 31px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #0DBAA3;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.btnDisble{
  width: 117px;
  height: 31px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: gray;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.aggHeading{
  font-size: 18px;
    font-weight: 600;
    color: gray;
    margin: 0;
}
.App{
  background-image: url("backgroundthree.jpg");
background-size:cover ;
/* background-color: black; */
height: 100%;
padding-top: 100px;
display: flex;
justify-content: center;
}
.Title{
  font-weight: 500;
    color: gray;
    margin: 0;
    font-size: 20px;
    text-align: center;
}
.Subtitle{
  font-weight: 500;
    font-size: 15px;
    color: gray;
    margin-bottom: 13px;
    text-align: center;
}
.span{
  color: #0DBAA3;
}
.css-1wnsr1i {
  border-radius: 15px !important;
  outline: none !important;
  border: none !important;
}
.iconContainer{
  position: relative;
}
.icon{
  position: absolute;
  top: -12px;
  left: 15px;
  color: #0DBAA3;
  cursor: pointer;
}
#modal-modal-title{
  color: #0DBAA3 !important;
  font-weight: 600 !important;
}
.TabsContainer{
  display: flex;
}
.ActiveTab{
  display: flex;
  align-items: center;
  justify-content: center;
width: 50%;
background-color:#0dbaa3 ;
color: white;
font-weight: 500;
cursor: pointer;
}
.inActiveTab{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-weight: 500;
  color: gray;
  cursor: pointer;
}
.TabsContainer{
  background-color: rgb(231, 229, 229);
  height: 40px;
}
@media (max-width:576px) {
  .App{
    background-color: white;
    background-image: url("backgroundFour.jpg");
    background-size:auto;
    padding-top: 39px;
    /* padding-top: 50px;
    height: 100%; */
  }
  .AppContainer{
    box-shadow: none;
    width: 320px;
    margin-bottom: 96px;
  }
  .css-1wnsr1i {
    width: 300px !important;
  }
}